@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;700;900&display=swap');
$border: 100px;

* {
    font-family: 'Jost';
    padding: 0;
    margin: 0;
}

.Alink {
    padding: 10px 50px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;

    &.black {
        background-color: #000;
        color: #fff;
    }

    &.white {
        background-color: #fff;
        color: #000;
    }
}


.container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;

    .gridItem {
        padding: $border;
        display: grid;
        justify-items: stretch;
        position: relative;

        &.white {
            background-color: #fff;
        }

        &.black {
            background-color: #000;
        }

        .presentation {
            border-left:1px solid black;
            border-bottom:1px solid black;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            height: calc(100vh - 100px * 2);
            position: fixed;
            width: calc(2 / 3 * 100% - #{$border} * 3);

            h1 {
                font-weight: 700;
                font-size: 6em;
                line-height: 1em;
                padding: 0;
                margin: 0;
                text-align: center;
            }
            
            h2 {
                font-weight: 300;
                font-size: 1.2em;
                margin: 20px 0;
            }
        }
    }
}



.projectsContainer {
    background-color: #000;

    .readMore,
    .pagination {
        bottom: 100px;
        position: fixed;
        color: #fff;
        z-index: 0;
    }

    .readMore {
        right: 100px;
        color: #fff;
        text-decoration: none;
        font-weight: 300;
    }

    .pagination {
        bottom: 100px;
        font-weight: 700;

        span:first-child {
            font-size: 1.5em;
            color: transparent;
            -webkit-text-stroke: 1px #fff;
        }
    }

    .Project {
        height: calc(100vh - 200px)!important;
        margin: 50px 0;

        h3 {
            display: inline-block;
            position: relative;
            font-size: 3em;
            padding: 5px 40px;
            background-color: #fff;
            text-transform: uppercase;
            box-shadow: 0 0 50px rgba(0, 0, 0, .3);
            z-index: 2;
            transform: translateY(30px);
        }

        .contentContainer {
            width: 100%;
            display: grid;
            grid-template-columns: 20vw auto;
            gap: 50px;
            position: absolute;
            right: 100px;
            align-items: flex-end;

            p {
                color: #fff;
                font-weight: 300;
                z-index: 1;
            }

            .thumbnail {
                height: 20vw;
                width: 20vw;
                box-shadow: 0 0 50px rgba(0, 0, 0, .3);
                z-index: 1;
                position: relative;
            }
        }
    }
}