$border: 5vw;

* {
    font-family: 'Jost';
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.Alink {
    padding: 8px 3vw;
    font-weight: 300;
    text-align: center;

    &.black {
        background-color: rgb(20, 20, 20);
        color: rgb(240, 240, 240);
    }

    &.white {
        background-color: rgb(240, 240, 240);
        color: rgb(20, 20, 20);
    }
}


.container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    transition: .2s;

    .gridItem {
        padding: $border;
        display: grid;
        justify-items: stretch;
        position: relative;

        &.white {
            background-color: rgb(240, 240, 240);
        }

        &.black {
            background-color: rgb(20, 20, 20);
        }

        .presentation {
            border-left:1px solid black;
            border-bottom:1px solid black;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            height: calc(100vh - #{$border} * 2);
            position: fixed;
            width: calc((1.5 / 2.5) * 100% - #{$border} * 2);

            .linksContainer {
                display: grid;
                grid-gap: 10px;
                grid-template-columns: auto auto;
            }

            h1 {
                font-weight: 700;
                font-size: clamp(3em, 6vw, 6em);
                line-height: 1em;
                padding: 0;
                margin: 0;
                text-align: center;
                text-transform: lowercase;
            }
            
            p {
                font-weight: 300;
                font-size: 1em;
                margin: 20px 0;
                text-align: center;

                a {
                    color: rgb(20, 20, 20);
                }
            }
        }
    }
}



.projectsContainer {
    background-color: rgb(20, 20, 20);
    display: grid;
    gap: $border;

    .readMore,
    .pagination {
        bottom: $border;
        position: fixed;
        color: rgb(240, 240, 240);
        z-index: 0;
    }

    .readMore {
        right: $border;
        color: rgb(240, 240, 240);
        text-decoration: none;
        font-weight: 300;

        .readMoreAnimation {
            height: 1.2em;
            width: calc(1.2em * 4);
            margin-right: 20px;
            display: inline-block;
            vertical-align: middle;
        }
    }

    .pagination {
        bottom: $border;
        font-weight: 700;

        span:first-child {
            font-size: 1.5em;
            color: transparent;
            -webkit-text-stroke: 1px rgb(240, 240, 240);
        }
    }

    .Project {
        height: calc(100vh - #{$border * 2})!important;
        display: flex;
        align-items: center;

        &:hover {
            h2 {
                transform: translateX(-20px) translateY(-75%);
            }

            .thumbnail {
                transform: scale(1.05);
                box-shadow: 0 0 70px rgba(0, 0, 0, .2)!important;
            }
        }

        h2 {
            font-size: clamp(2em, 4vw, 5em);
            background-color: rgb(240, 240, 240);
            text-transform: uppercase;
            color: #444;
            transition: .5s;
            height: fit-content;
            z-index: 99;
            padding: 0 20px;
            transform: translateY(-75%);
            word-wrap: break-word;
            max-width: calc(1 / 2.5 * 100vw - #{$border} * 2);
            backdrop-filter: blur(10px);
            text-transform: lowercase;
        }

        .contentContainer {
            width: 100%;
            display: grid;
            grid-template-columns: 20vw auto;
            gap: 50px;
            position: absolute;
            right: $border;
            align-items: flex-end;

            div {
                color: rgb(240, 240, 240);
                font-weight: 300;
                z-index: 1;
            }

            .thumbnail {
                height: 20vw;
                width: 20vw;
                box-shadow: 0 0 50px rgba(0, 0, 0, .3);
                z-index: 1;
                position: relative;
                transition: .3s;
            }
        }
    }
}



@media screen AND (max-width: 1200px) {
    .Project {
        padding-top: 2em;
        h2 {
            transform: translateY(-200%)!important;
        }
    }
}



@media screen AND (max-width: 700px) {

    .container {
        display: block;

        .gridItem {
            display: grid;
            justify-items: stretch;
            position: relative;

            .presentation {
                border-left:1px solid black;
                border-bottom:1px solid black;

                height: calc(85vh - #{$border} * 4);
                position: relative;
                width: 100%;
            }
        }
    }



    .projectsContainer {
        display: grid;
        gap: calc(#{$border} * 4);

        .readMore,
        .pagination {
            display: none;
        }

        .Project {
            height: fit-content;
            position: relative;

            &:hover {
                h2, .thumbnail {
                    transform: none;
                }
            }

            h2 {
                padding: 0 20px;
                transform: translateY(0)!important;
                top: 0;
                position: absolute;
                max-width: 100%;
            }

            .contentContainer {
                width: 100%;
                display: block;
                position: absolute;
                left: 0;

                p {
                    font-size: .9em;
                    text-align: center;
                }

                .thumbnail {
                    height: calc(100vw - 2 * #{$border});
                    width: calc(100vw - 2 * #{$border});
                    margin: 20px auto;
                }
            }
        }
    }
}
