$border: 100px;

* {
    font-family: 'Jost';
    padding: 0;
    margin: 0;
}

.Alink {
    padding: 8px 5vw;
    font-weight: 300;
    text-align: center;
    text-decoration: none;

    &.black {
        background-color: #000;
        color: #fff;
    }

    &.white {
        background-color: #fff;
        color: #000;
    }
}


.container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;

    .gridItem {
        padding: $border;
        display: grid;
        justify-items: stretch;
        position: relative;

        &.white {
            background-color: #fff;
        }

        &.black {
            background-color: #000;
        }

        .presentation {
            border-left:1px solid black;
            border-bottom:1px solid black;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            height: calc(100vh - #{$border} * 2);
            position: fixed;
            width: calc(1.5 / 2.5 * 100% - #{$border} * 3);

            h1 {
                font-weight: 700;
                font-size: 6em;
                line-height: 1em;
                padding: 0;
                margin: 0;
                text-align: center;
            }
            
            h2 {
                font-weight: 300;
                font-size: 1.2em;
                margin: 20px 0;
            }
        }
    }
}



.projectsContainer {
    background-color: #000;
    display: grid;
    gap: $border;

    .readMore,
    .pagination {
        bottom: $border;
        position: fixed;
        color: #fff;
        z-index: 0;
    }

    .readMore {
        right: $border;
        color: #fff;
        text-decoration: none;
        font-weight: 300;

        .readMoreAnimation {
            height: 1.2em;
            width: calc(1.2em * 4);
            margin-right: 20px;
            display: inline-block;
            vertical-align: middle;
        }
    }

    .pagination {
        bottom: $border;
        font-weight: 700;

        span:first-child {
            font-size: 1.5em;
            color: transparent;
            -webkit-text-stroke: 1px #fff;
        }
    }

    .Project {
        height: calc(100vh - 200px)!important;

        &:hover {
            h3 {
                transform: translateY(60%) scale(1.05);
            }

            .thumbnail {
                transform: scale(1.05);
            }
        }

        h3 {
            display: inline-block;
            position: relative;
            font-size: 3em;
            padding: 5px 5vw;
            background-color: #fff;
            text-transform: uppercase;
            box-shadow: 0 0 50px rgba(0, 0, 0, .3);
            z-index: 2;
            transform: translateY(50%);
            color: #000;
            transition: .2s;
        }

        .contentContainer {
            width: 100%;
            display: grid;
            grid-template-columns: 20vw auto;
            gap: 50px;
            position: absolute;
            right: $border;
            align-items: flex-end;

            div {
                color: #fff;
                font-weight: 300;
                z-index: 1;
            }

            .thumbnail {
                height: 20vw;
                width: 20vw;
                box-shadow: 0 0 50px rgba(0, 0, 0, .3);
                z-index: 1;
                position: relative;
                transition: .5s;
            }
        }
    }
}

@media screen AND (max-width: 700px) {
    $border: $border / 2;

    .container {
        display: block;

        .gridItem {
            padding: #{$border};
            display: grid;
            justify-items: stretch;
            position: relative;

            .presentation {
                border-left:1px solid black;
                border-bottom:1px solid black;

                height: calc(85vh - #{$border} * 4);
                position: relative;
                width: 100%;

                h1 {
                    font-size: 3em;
                }
                
                h2 {
                    text-align: center;
                }
            }
        }
    }



    .projectsContainer {
        display: grid;
        gap: $border;

        .readMore,
        .pagination {
            bottom: $border;
            position: fixed;
            font-size: .9em;
        }

        .pagination {
            transform-origin: 0 100%;
            transform: rotate(-90deg) translateY(-1em);
        }

        .readMore {
            right: $border;
            transform-origin: 100% 100%;
            transform: rotate(-90deg) translate(100%, calc(100% + 1em));

        }

        .Project {
            height: calc(100vh - #{$border} * 2)!important;

            h3 {
                display: inline-block;
                font-size: 2em;
                transform: translateY(0);
                margin: auto;
                text-align: center;
            }

            .contentContainer {
                width: calc(100% - #{$border * 2});
                display: block;
                position: absolute;
                right: $border;

                p {
                    font-size: .9em;
                    text-align: center;
                }

                .thumbnail {
                    height: calc(100vw - 3 * #{$border});
                    width: calc(100vw - 3 * #{$border});
                    margin: 20px auto;
                }
            }
        }
    }
}