@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;700;900&display=swap');
$border: 100px;

* {
    font-family: 'Jost';
    padding: 0;
    margin: 0;
}

main {
    background: #000;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;

    .projectContainer {
        border-left:1px solid #fff;
        border-bottom:1px solid #fff;
        display: grid;
        grid-template-columns: auto calc(100vh - #{$border} * 3);
        gap: 100px;
        align-items: center;
        height: calc(100vh - 2 * #{$border});
        width: calc(100vw - 2 * #{$border});
    }

    .date {
        position: absolute;
        color: #fff;
        bottom: 100px;
        right: 100px;
        

        h2 {
            font-weight: 300;
            text-transform: lowercase;
            font-size: 1.3em;
        }
    }

    .projectLink {
        position: absolute;
        bottom: 110px;
        right: calc(100vh - #{$border} * 4 + 2vw / 2);
    }

    .descriptionContainer {
        padding-left: 100px;

        h1 {
            display: inline-block;
            position: relative;
            font-size: 3em;
            padding: 5px 40px;
            background-color: #fff;
            text-transform: uppercase;
            box-shadow: 0 0 50px rgba(0, 0, 0, .3);
        }
    
        p {
            color: #fff;
            font-weight: 300;
            margin: 50px 0;
            max-width: 60%;
        }
    
        ul {
            color: #fff;
            font-weight: 300;
            list-style-type: none;
    
            li {
    
                &::before {
                    content: 'x';
                    margin-right: 20px;
                }
            }
        }
    }

    

    .picsContainer {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 2vw;
        height: calc( 100vh - #{$border} * 4 );
        width: calc( 100vh - #{$border} * 4 );

        img {
            height: 100%;
            width: 100%;
        }
    }
}